*{
    font-family: 'Odibee Sans', cursive;
}
html{
    background-color: #a75bee;
}

body{
    background-color: #a75bee;
    color: black;
}

header{
    color: black;
    text-align: center;
    font-size: 50px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header button{
    background-color: #a75bee;
    border:none;
    padding-right: 30px;
}

span{
    display: none;
}

header button:hover span{
   display: block;
}

input{
    height: 40px;
    width: 700px;
    border-style: ridge;
}

.searchbar{
    padding: 20px;
    display: flex;
    justify-content: center;
}

section p{
    text-align: center;
    color: black;
}

.game-info {
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 2.5rem;
    margin-left: 65px;
  }
  
  .game-info-img {
    height: 35rem;
    width: 30rem;
    margin-bottom: 100px;
  }

  .price-info {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.5s;
    padding-top: 25px;
    padding-bottom: 325px;
    height: 25rem;
    width: 500px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 65px;
    margin-bottom: 100px;
    background-color: #04d1b2;
  }

  .price-info h2 {
    box-sizing: border-box;
    height: 50px;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
  }


.card-content{
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}
.card-content:hover{
    box-shadow: 0 16px 32px 0 rgb(0, 0, 0, 0.2);
}
